.banner__title {
  margin: 0;
  font-family: @glober-regular;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  background-color: @blue;
  padding: 13px 0;
  color: #ffffff;
  text-align: center;
}

.banner__wrapper {
  width: 660px;
}

.banner__link {
  font-family: @glober-bold;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: @black;
  background-color: @orange;
  padding: 10px 30px;
  margin: 0 auto;
  width: 216px;
  display: block;
  text-align: center;
}
