.short-video {
  background-color: @blue;
}

.short-video__text1,
.short-video__text2 {
  font-family: @glober-regular;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.short-video__text1 {
  font-size: 26px;
  line-height: 52px;
}

.short-video__text2 {
  font-size: 16px;
  line-height: 32px;
}
