.text-banner__title {
  font-family: @glober-bold;
  font-size: 26px;
  line-height: 49px;
  color: @blue;
  text-transform: uppercase;
  margin: 0;
}

.text-banner__title-text {
  font-family: @glober-bold;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}

.text-banner__text {
  font-family: @glober-light;
  font-size: 16px;
  line-height: 18px;
  color: @black;
}
